nbproject/*
bodega/*
!bodega/.gitkeep
*.swo
wiki/*
config.php
uploadFiles/owncloud/config-inc.php
respuestaRapida/templates_c/*
Administracion/usuario/templates_c/*.php
accionesMasivas/templates_c/*.php
.idea
.svn
*.swp
.swp
.tcpdf/cache/*
*~
.idea/
HEAD
config
description
hooks/applypatch-msg.sample
hooks/commit-msg.sample
hooks/post-update.sample
hooks/pre-applypatch.sample
hooks/pre-commit.sample
hooks/pre-push.sample
hooks/pre-rebase.sample
hooks/prepare-commit-msg.sample
hooks/update.sample
info/
Licencia_AGPL.txt
README.txt
respuestaRapida/*.txt
logoEntidad.png
logoEntidad_blanco.png
README
*.tpl.php
instalacion/qsql.php
include/apiCerticamara/resources/CRL/log/*
uploadFiles/owncloud/log/*
adodb/kint-master
img/IK.banerPDF.jpg
img/IK.favicon.png
img/IK.logoEntidad.png
img/banerPDF.jpg
img/logoEntidad.png
img/favicon.png
kint
formatos/*
nbproject
.gitmodules
vendor/
instalacion/*.sql
build/
docs/
phpdox.xml.dist
webServices/.phpunit.result.cache
webServices/phpunit
*.DS_Store
/nbproject/
/.idea/
/solicitudes
email/pop3.php
email/POP3.php
lol/correlibre.bootstrap.min.css
lol/CORRELIBRE.bootstrap.min.css
img/correlibre.headerPDF.png
img/CORRELIBRE.headerPDF.png
visor/node_modules
contratistas/evidencias/*
contratistas/anexos/*
contratistas/pagos/*
.env
