.pr2{
	vertical-align: middle;
	background: -moz-linear-gradient(top, rgba(207,231,250,0.17) 0%, rgba(207,231,250,0.2) 4%, rgba(162,177,191,0.66) 59%, rgba(162,177,191,0.98) 97%, rgba(162,177,191,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(207,231,250,0.17) 0%,rgba(207,231,250,0.2) 4%,rgba(162,177,191,0.66) 59%,rgba(162,177,191,0.98) 97%,rgba(162,177,191,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(207,231,250,0.17) 0%,rgba(207,231,250,0.2) 4%,rgba(162,177,191,0.66) 59%,rgba(162,177,191,0.98) 97%,rgba(162,177,191,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bcfe7fa', endColorstr='#a2b1bf',GradientType=0 ); /* IE6-9 */
}
.pr3{
	background: -moz-radial-gradient(center, ellipse cover, rgba(204,210,224,0.2) 0%, rgba(130,140,149,0.81) 76%, rgba(40,52,59,1) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(204,210,224,0.2) 0%,rgba(130,140,149,0.81) 76%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(204,210,224,0.2) 0%,rgba(130,140,149,0.81) 76%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ccd2e0', endColorstr='#28343b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.botonsuperior{
	font-weight:bold;
	text-align: center;
	background-color: '#253a5a';
}
.btn-rd{
	float: right;
}
.table2{
	width:100%;
}
.tdprincipal{
	background: rgb(246,248,249); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(214,221,231,1) 50%, rgba(214,221,231,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(214,221,231,1) 50%,rgba(214,221,231,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(214,221,231,1) 50%,rgba(214,221,231,1) 51%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 );
	font-weight:bold;
} 
tdtop{
	border-top: thick double #BBC4CE;
}
